<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu>
 
    <menu id="client-menu">
        <item label="Minimize">
            <action name="Iconify" />
        </item>
        <item label="Maximize">
            <action name="ToggleMaximize" />
        </item>
        <item label="Fullscreen">
            <action name="ToggleFullscreen" />
        </item>
        <item label="Decorations">
            <action name="ToggleDecorations" />
        </item>
        <item label="AlwaysOnTop">
            <action name="ToggleAlwaysOnTop" />
        </item>
        <!--
    Any menu with the id "workspaces" will be hidden
    if there is only a single workspace available.
  -->
        <menu id="workspaces" label="Workspace">
            <item label="Move left">
                <action name="SendToDesktop" to="left" />
                <action name="GoToDesktop" to="left" />
            </item>
            <item label="Move right">
                <action name="SendToDesktop" to="right" />
                <action name="GoToDesktop" to="right" />
            </item>
        </menu>
        <item label="Close">
            <action name="Close" />
        </item>
    </menu>

    <!-- Right click boxes-->

    <menu id="some-custom-menu">
        <item label="Edge">
            <action name="Execute" command="microsoft-edge-stable" />
        </item>
        <item label="Vscode">
            <action name="Execute" command="code" />
        </item>
        <item label="Spotify">
            <action name="Execute" command="spotify" />
        </item>
        <item label="Thunar File Manager">
            <action name="Execute" command="thunar" />
        </item>
        <item label="Alacritty">
            <action name="Execute" command="alacritty" />
        </item>
        <!--Utils buttons-->
        <item label="____________"></item>

        <item label="Reconfigure">
            <action name="Reconfigure" />
        </item>
        <item label="Exit">
            <action name="Exit" />
        </item>
        <item label="Poweroff">
            <action name="Execute" command="systemctl -i poweroff" />
        </item>
    </menu>

</openbox_menu>