
* {
    font-family: Inter, FontAwesome, SF-Pro;
    font-size: 13px;
    font-weight: 600;
    min-height: 0;
    border-radius: 0;
    padding: 0;
}

@define-color bg #23252e;
@define-color fg #f2f2f2;
@define-color red #ff0066;
@define-color blue #51a2da;
@define-color green #aaffaa;
@define-color yellow #ffc762;
@define-color orange #fa946e;
@define-color vilet #cf8ef4;
@define-color gray #343744;




window#waybar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 15 0 15;
    margin: 0 10;
    border-radius: 0;
}


#custom-menu {
    /* background-image: url('/home/vee/.config/waybar/logo.svg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: #FFFFFF;
    padding: 0 4px;
    margin: 4 3;
    font-size: 25px;
}

#taskbar button.active{
	color : #FFFFFF;
}

#taskbar button {
    padding: 1 1 0 3;
    margin: 4 0;
    border-radius: 10;
    color: transparent;
    font-size : 50;
}

#taskbar button:hover {
    color: #FFFFFF;
    background: @ng;
    box-shadow: inset 0 0px  #23252e;
    padding: 0 5 0 5;
    margin: 4 0;
    border-radius: 20;
    transition: all 0.5s ease-in-out;
}

#clock {

    color: @fg;
    /* padding: 0 8 0 13; */
    margin: 3 25 3 5;
    border-radius: 9px;
}

#custom-time{
    color: @fg;
    /* padding: 0 8 0 13; */
    margin: 3 25 3 5;
    border-radius: 9px;
    font-weight : 500;
}

#tray {
    color: @fg;
    padding: 0 8;
    margin: 4 5 4 5;
    border-radius: 18;
}


#custom-cmus {
    color: @fg;
    padding: 0 10 0 10;
    margin: 4 5 4 5;
    border-radius: 18;
}

#pulseaudio {
    color: @fg;
    margin: 3 6 3 3;
    border-radius: 18;
    font-size : 15px;
}

#cpu {
    background: @gray;
    color: @fg;
    padding: 0 8 0 13;
    margin: 4 0 4 5;
    border-radius: 9 0 0 9;
}

#memory {
    color: @fg;
    padding: 0 13 0 8;
    margin: 4 5 4 0;
    border-radius: 0 9 9 0;
}

#battery {
    padding: 0 3;
    margin: 2 3 4 5;
    color: #FFFFFF;
    
}

#custom-power {
    color: @fg;
    padding: 0 10;
    margin: 4 10 4 5;
    font-weight : 500;
}

#network{
    color: #FFFFFF;
    margin: 4 0 4 5;
    border-radius: 9 0 0 9;
    font-size: 15px;
}

#window{
    color: #FFFFFF;
}



